
* {
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  background-color: #eeeeee;
}

#navbar {
  height: 2em;
  padding: 0 1.5em;
  color: #cccccc;
  background-color: #555555;
  background: -webkit-linear-gradient(bottom,#444444,#555555);
  background: -moz-linear-gradient(center bottom, #444444 0%, #555555 100%);
  background: -ms-linear-gradient(bottom, #444444, #555555);
  background: -o-linear-gradient(bottom, #444444, #555555);
}

#navbar h1 {
  padding: 0.5em 0em;
  font-size: medium;
}

#navbar h1 .em {
  background-color: inherit;
}
#navbar h1 .launcher {
  color: #ffffff;
  background-color: inherit;
}

#navbar #loginuser {
  float: right;
}

#navbar #loginuser .address {
  height: 2em;
  padding: 0.5em 1em;
  height: 1em;
}

#navbar #loginuser .address:after {
  font-size: 0.5em;
  content: "▼";
}

#navbar #loginuser .address:hover {
  color: inherit;
  background-color: #444444;
}

#navbar #usermenu {
  color: inherit;
  background-color: #555555;
  list-style-type: none;
  visibility: hidden;
}

#navbar #usermenu li {
  padding: 0.4em 1.5em;
  border-top: solid 1px #cccccc;
  background-color: inherit;
}

#navbar #usermenu li a {
  color: inherit;
  text-decoration: none;
}

.titlebox {
  margin: 1em 0;
  padding: 0;
  color: #666666;
  background-color: white;
  border: solid 1px #cccccc;
  border-radius: 3px;
  overflow: hidden;  
}

.titlebox .title {
  font-size: 1em;
  font-weight: bold;
  border-bottom: solid 1px #cccccc;
  padding: 0.5em 1em;
  color: black;
  background-color: #eeeeee;
  background: -webkit-linear-gradient(top,#ffffff,#dddddd);
  background: -moz-linear-gradient(top,#ffffff,#dddddd);
  background: -ms-linear-gradient(top, #ffffff, #dddddd);
  background: -o-linear-gradient(top,#ffffff,#dddddd);
}

.titlebox .content {
  margin: 1em;
}

form input[type="text"], form input[type="password"] {
  border: 1px solid #cccccc;
  color: inherit;
  border-radius: 3px;
  width: 75%;
  height: 1.5em;
}

.active-button {
  color: white;
  background-color: #0055cc;
  background: -webkit-linear-gradient(top,#0066cc,#0033cc);
  background: -moz-linear-gradient(top,#0066cc,#0033cc);
  background: -ms-linear-gradient(top, #0066cc, #0033cc);
  background: -o-linear-gradient(top,#0066cc,#0033cc);
  border: #0033cc solid 1px;
  border-radius: 3px;
  padding: 0.3em 1em;
  text-align: center;
  font-style: bold;
}
.active-button:hover {
  background-color: #0077cc;
  background: -webkit-linear-gradient(top,#0088cc,#0066cc);
  background: -moz-linear-gradient(top,#0088cc,#0066cc);
  background: -ms-linear-gradient(top, #0088cc, #0066cc);
  background: -o-linear-gradient(top,#0088cc,#0066cc);
}


#signin-dialog {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}

#signin-dialog dl dt {
  padding-top: 0.2em;
  width: 20%;
  float: left;
}
#signin-dialog dl dd{
  margin-bottom: 1em;
}
#signin-dialog dl + * {
  clear: both;
}

#signin-dialog .google-login h2 {
}

#signin-dialog hr {
  border: 0;
  border-bottom: solid 1px #cccccc;
}

#signin-dialog a.forget-pass {
  margin-left: 3em;
  font-size: smaller;
}

#signin-dialog a.google-login {
  display: block;
  margin: 1em auto;
  width: 15em;
  text-decoration: none;
  font-size: smaller;
}




