

body {
}

.navbar {
	border-radius: 0;
}

.dropdown-menu {
	background-color: #3e648d;
}
.dropdown-menu>li>a{
	color: #ddd;
}
.dropdown-menu>li>a:hover{
	color: #fff;
}



form+.google-login {
	padding: 1em;
	margin-top: 1em;
	border-top: 1px solid #ccc;
}

.panel-primary>.panel-heading>h2 {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.btn-default {
	color: #666;
	background-color: #dcdcdc;
	border-color: #ccc;
	background: linear-gradient(#fff,#e4e4e4);
	background: -webkit-linear-gradient(top,#fff,#e4e4e4);
	background: -moz-linear-gradient(center top, #fff 0%, #e4e4e4 100%);
	background: -ms-linear-gradient(top, #fff, #e4e4e4);
	background: -o-linear-gradient(top, #fff, #e4e4e4);
}

.btn-default:hover {
	color: inherit;
	background: inherit;
	border-color: rgba(0,0,0,0.1);
}

.droparea.dragover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

