
.navbar {
	border-radius: 0;
}

.navbar .dropdown-menu {
	background-color: #3e648d;
}
.navbar .dropdown-menu>li>a{
	color: #ddd;
}
.navbar .dropdown-menu>li>a:hover{
	color: #fff;
}

form+.google-login, form+.azuread-login {
	padding: 1em;
	margin-top: 1em;
	border-top: 1px solid #ccc;
}

.panel-primary>.panel-heading>h2 {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.btn-default {
	color: #666;
	background-color: #dcdcdc;
	border-color: #ccc;
	background: linear-gradient(#fff,#e4e4e4);
	background: -webkit-linear-gradient(top,#fff,#e4e4e4);
	background: -moz-linear-gradient(center top, #fff 0%, #e4e4e4 100%);
	background: -ms-linear-gradient(top, #fff, #e4e4e4);
	background: -o-linear-gradient(top, #fff, #e4e4e4);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
	color: inherit;
	background: inherit;
	border-color: rgba(0,0,0,0.1);
}

.droparea.dragover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


button.checkbox i:before{
  content: "\f096";
}
button.checkbox.active i:before{
  content: "\f046";
}
button.lock-toggle i:before{
  content: "\f09c";
}
button.lock-toggle.active i:before{
  content: "\f023";
}


h2.media-hedding {
  border-bottom: 1px solid #eee;
}

label.required:after{
  content: ' *';
  color: red;
}

.progress {
  margin-bottom: 0;
}

.app-icon {
  width: 72px;
  height: auto;
}

@media (min-width: 768px){
  .app-icon {
    width: 96px;
  }
}

.app-icon-sm {
  width: 72px;
}

h2>.subtitle {
	white-space: nowrap;
}

.media.app-list-item {
	border-bottom: 1px solid #eee;
	padding: 5px;
	margin-top: 15px;
}


.notification-toggle button.active,
[data-toggle="button"].active {
  color: #ffffff;
  background-color: #385a7f;
  border-color: #315070;
}

#new-tag-create {
  margin-top: 5px;
}

#file-name>i.fa.success {
  color: green;
}
#file-name>i.fa.error {
  color: red;
}

#tag-filter {
  min-height: 2em;
  padding: 5px;
}

#package-list .title {
  font-weight: bolder;
  font-size: medium;
  word-break: break-all;
}
#package-list .info {
  font-size: xx-small;
  display: inline-block;
  padding-top: 2px;
}

#package-list td.text-center {
  vertical-align: middle;
}

#package-list td.logo {
  font-size: 200%;
}

#package-list a.install-link {
  width: 100%;
}

#package-list .description {
  margin: 0;
  font-size: xx-small;
  word-break: break-all;
}

.fa-android {
  color: #a4c639;
}
.fa-apple {
  color: silver;
}

h3 {
  margin-top: 2px;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 100px;
  }
  .dl-horizontal dd {
    margin-left: 120px;
  }
}

#installed-date {
  font-size: x-small;
}

.delete-tags.active {
  color: #ffffff;
  background-color: #d2322d;
  border: 1px solid #9a0200;
}

.edit-owner .form-control > button {
  margin-right: 10px;
}
.edit-owner .form-control > button > i:before{
  content: "\f00d";
}

.edit-owner.delete .form-control {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  text-decoration: line-through;
}
.edit-owner.delete .form-control > button > i:before{
  content: "\f10c";
}

.edit-owner.add .form-control {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

#add-owner button {
  float: left;
  height: 38px;
  margin-bottom: -38px;
  padding: 0 12px;
}
#add-owner input[type="text"] {
  padding-left: 38px;
}

#documentation h3.subheader {
  padding: 8px 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #999999;
}

#documentation h3.list-group-item-heading {
  color: #3399f3;
  text-decoration: underline;
}

#documentation dl.dl-horizontal dt {
	width: 10em;
	margin-right: 1em;
}

#documentation dl.dl-horizontal dd ul,
#documentation dl.dl-horizontal dd pre {
	clear: left;
}
#documentation dl.dl-horizontal dd ul li {
	margin-bottom: 5px;
}

#documentation .page-header,
#top-index .page-header {
	margin-top: 0;
}

#top-index #create-app-button {
	margin-top: 10px;
	padding: 5px;
}

#app-list td.icon {
	width: 50px;
}

#app-list td.icon img {
	width: 45px;
	height: 45px;
}

#app-list th {
	text-align: center;
}
#app-list .title {
  font-weight: bolder;
  font-size: medium;
}
#app-list .info {
  font-size: xx-small;
  display: inline-block;
  padding-top: 2px;
}

#app-list .xs-buttons {
  padding-top: 10px;
}

.pagination .omission span{
  padding-left: 5px;
  padding-right: 5px;
}

#tag-filter-toggle > i.fa-angle-double-down:before {
  content: "filter tags \f103";
}

.balloon {
  display: inline-block;
}

.balloon div{
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #999;
  border-radius: 3px;
}

.balloon:after {
  content: '';
  position: absolute;
  margin-left: 5px;
  border-top: 5px solid #999;
  border-left: 5px solid transparent;
}

#comments h3 {
  padding-top: 5px;
  font-size: medium;
}

#comments ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

#comments li {
  padding: 10px;
}

#comments dl {
  margin: 0;
}

#comments dl dt {
  width: 30px;
  float: left;
  text-align: center;
}

#comments dl dd {
  margin-left: 40px;
}

#comments dl + div {
 clear: both;
}

#comment-form textarea {
  margin-bottom: 10px;
}
#comment-form select {
  width: auto;
  display: inline-block;
}

.repository-link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

#attached-files td {
  vertical-align: middle;
}

.read-more {
	display: none;
}

.read-more.active {
	display:block;
	height:200px;
	margin-bottom:-200px;
	position:relative;
	z-index:2;
	text-align: center;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, white 100%);
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, white 100%);
}

.read-more > a.badge {
	position: absolute;
	bottom: 0;
}

.read-more.active + p {
	height: 200px;
	overflow: hidden;
}
