DirectoryIndex main.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ main.php/$1 [QSA,L]

LimitRequestBody 0

SetEnvIf MFW_ENV ^$ MFW_ENV=local

php_flag short_open_tag On
php_value memory_limit "4G"
php_value upload_max_filesize "4G"
php_value post_max_size "4G"
php_value max_execution_time 300
php_value max_input_time 300
